<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('head'); %>
    <title>Lista Clientes</title>
    <style>
        .button {
          border: none;
          color: #ffffff;
          padding: 4px 18px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        
        .button1 {
          background-color: white; 
          color: black; 
          border: 2px solid #4CAF50;
        }
        
        .button1:hover {
          background-color: #4CAF50;
          color: white;
        }

        .button2 {
          background-color: white; 
          color: black; 
          border: 2px solid #df3b3b;
        }
        
        .button2:hover {
          background-color: #df3b3b;
          color: white;
        }

        h1, h2 {
            text-align: center;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 5px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            text-align: center;
            background-color: #188a60;
            color: white;
        }

        #customers td {
            text-align: center;
        }

        
    </style>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>
    <div class="form-group">
        <form>
        <h2>Listado clientes</h2>
            <table id="customers">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Ubicación</th>
                        <th>Total compras</th>
                        <th>Histórico compras</th>
                        <th>Administrar</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                        <% listaclientes.forEach(function(clients) { %>
                    <tr>
                        <td><%=clients.id %></td>
                        <td><%=clients.Nombre %></td>
                        <td><%=clients.Telefono %></td>
                        <td><%=clients.Ubicacion.Zoom %></td>
                        <td><%=clients.TotalCompras %></td>
                        <td><%=clients.HistoricoCompras %></td>
                        <td><button type="button" class="button button1" data-toggle="modal" data-target="#update"><i class="fa fa-edit"></i>  Editar</button><button type="button" class="button button2" data-toggle="modal" data-target="#delete"><i class="fa fa-close"></i>  Eliminar</button></td>
                        

                    </tr>
                        <% }); %>
                    </tbody>

            </table>
        </form>

    </div>

    
</main>

<footer>
    <%- include('footer'); %>
</footer>
  
</body>
</html>