<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('head'); %>
        <title>Lista Clientes</title>
        
        <style>
            .button {
                border: none;
                color: #ffffff;
                padding: 4px 18px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 13px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50;
            }

            .button1:hover {
                background-color: #4CAF50;
                color: white;
            }

            .button2 {
                background-color: white;
                color: black;
                border: 2px solid #df3b3b;
            }

            .button2:hover {
                background-color: #df3b3b;
                color: white;
            }

            h1,
            h2 {
                text-align: center;
            }

            #customers {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td,
            #customers th {
                border: 1px solid #ddd;
                padding: 5px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                text-align: center;
                background-color: #188a60;
                color: white;
            }

            #customers td {
                text-align: center;
            }

            #logo-empresa {

                color: white;
                text-shadow:
                    0 0 5px white,
                    0 0 10px white,
                    0 0 15px white,
                    0 0 20px lime,
                    0 0 30px lime,
                    0 0 40px lime,
                    0 0 55px lime,
                    0 0 75px lime;

            }
        </style>
</head>

<body class="container">

    <header>
        <%- include('header'); %>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand fs-3" href="#" id="logo-empresa">FreakStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Registrar clientes</a></li>
                                    <li><a class="dropdown-item" href="#">Listar clientes</a></li>
                                
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vendedores</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Registrar vendedores</a></li>
                                    <li><a class="dropdown-item" href="#">Listar vendedores</a></li>
                                
                                </ul>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Clientes</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">- Empty -</a>
                            </li>
                        <ul>

                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <main><br><br><br>
        <div class="form-group">
            <form>
                <h2>Lista clientes</h2>
                <table id="customers">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Total compras</th>
                            <th>Administrar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% listaclientes.forEach(function(clients) { %>
                            <tr>
                                <td>
                                    <%=clients.id %>
                                </td>
                                <td>
                                    <%=clients.Nombre %>
                                </td>
                                <td>
                                    <%=clients.Correo %>
                                </td>
                                <td>
                                    <%=clients.Telefono %>
                                </td>
                                <td>
                                    <%=clients.TotalCompras %>
                                </td>
                                <td>
                                    <button type="button" class="button button1" data-bs-toggle="modal" onclick="camposCliente(`<%=clients.id%>`, `<%=clients.Nombre%>`, `<%=clients.Correo %>`,`<%=clients.Telefono%>`,`<%=clients.TotalCompras%>`)" data-bs-target="#modificarCliente"><i class="fa fa-edit"></i> Modificar</button>
                                    <button type="button" class="button button2" data-bs-toggle="modal" onclick="camposCliente(`<%=clients.id %>`, `<%=clients.Nombre %>`, `<%=clients.Correo %>`,`<%=clients.Telefono %>`,`<%=clients.TotalCompras %>`)" data-bs-target="#eliminarCliente"><i class="fa fa-save"></i> Eliminar</button>
                                </td>


                            </tr>
                            <% }); %>
                    </tbody>

                </table>
            </form>

        </div>


  
        <!-- Modal modificar-->
        <div class="modal fade" id="modificarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <form id="/api/modificar-cliente" method="put">
                                
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">ID:</label>
                                    <input type="text" class="form-control" id="idcliente" readonly>
                                  </div>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="idnombrecliente">
                                  </div>
                                  <div class="mb-3">
                                      <label for="message-text" class="col-form-label">Correo:</label>
                                      <input type="text" class="form-control" id="idcorreocliente">
                                  </div>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Teléfono:</label>
                                    <input type="text" class="form-control" id="idtelefonocliente">
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Total compras:</label>
                                    <input type="text" class="form-control" id="idtotalcompras">
                                </div>
                        

                            </form>
                        </div>
                     <div class="modal-footer">
                        <button type="button" class="button button2" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="button button1" data-bs-dismiss="modal">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>


  
        <!-- Modal eliminar -->
        <!-- <div class="modal fade" id="eliminarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar cliente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="deleteCliente" method="post">
                                
                                window.alert("Desea elminar el cliente");
                                alert("Desea elminar el cliente");
                        

                            </form>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="button button2" data-bs-dismiss="modal">NO</button>
                        <button type="button" class="button button1" data-bs-dismiss="modal">Si</button>
                    </div>
                </div>
            </div>
        </div> -->


    </main>

    <footer>
        <%- include('footer'); %>
    </footer>

    <script>
        function camposCliente(a,b,c,d,e) {
            idcliente.value = a,
            idnombrecliente.value = b,
            idcorreocliente.value = c,
            idtelefonocliente.value = d,
            idtotalcompras.value = e
        }

        
      </script>

</body>

</html>