<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <%- include('head'); %>
        <title>FreakStore - Lista vendedores</title>        
</head>

<body class="container">

    <header>
        <%- include('header'); %>
    </header>

    <main><br><br><br>
        <div class="form-group">
            <form>
                <h2>Lista vendedores</h2>
                <table id="customers">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Correo</th>
                            <th>Ventas despachadas</th>
                            <th>Administrar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% listavendedores.forEach(function(sellers) { %>
                            <tr>
                                <td>
                                    <%=sellers.id %>
                                </td>
                                <td>
                                    <%=sellers.Nombre %>
                                </td>
                                <td>
                                    <%=sellers.Documento %>
                                </td>
                                <td>
                                    <%=sellers.Correo %>
                                </td>
                                <td>
                                    <%=sellers.VentasDespachadas %>
                                </td>
                                <td><button type="button" id="edit" class="button button1" data-bs-toggle="modal"
                                        onclick="modificarVendedor(`<%=sellers.id %>`,`<%=sellers.Nombre %>`,`<%=sellers.Documento %>`,`<%=sellers.Correo %>`,`<%=sellers.VentasDespachadas %>`)"
                                        data-bs-target="#editarVend"><i class="fa fa-edit"></i>
                                        Modificar</button>
                                    <button type="button" id="delete" class="button button2" data-toggle="modal"
                                        data-target="#eliminarVen"><i class="fa fa-close"></i> Eliminar</button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>

                </table>
            </form>

        </div>

        <!-- Modal modificar-->
        <div class="modal fade" id="editarVend" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <h3 class="modal-title fs-5" id="exampleModalLabel">Modificar Vendedor</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="editarVendedor" action="editarVendedor" method="post">

                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="_id" name="_id" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="idnombrevendedor" name="idnombrevendedor" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Documento:</label>
                                <input type="text" class="form-control" id="iddocvendedor" name="iddocvendedor">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Correo:</label>
                                <input type="text" class="form-control" id="idcorreovendedor" name="idcorreovendedor">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Ventas despachadas:</label>
                                <input type="text" class="form-control" id="idventasdespachadas" name="idventasdespachadas">
                            </div>

                            <button type="submit" id="registrar" class="button button1" >Guardar cambios</button>

                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal eliminar-->
        <div class="modal fade" id="eliminarVen" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- <div class="modal-header">
                        <h3 class="modal-title fs-5" id="exampleModalLabel">Modificar Vendedor</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->

                    <div class="modal-body">
                        <form action="eliminarVendedor" method="POST">

                            <h4>Está seguro de eliminar vendedor?</h4>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="delete" class="button button1" data-bs-dismiss="modal">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <%- include('footer'); %>
    </footer>

    <script>
        function modificarVendedor(id, nombre, documento, correo, ventasdesp) {
            console.log(id, nombre, documento, correo, ventasdesp)
            _id.value = id;
            idnombrevendedor.value = nombre;
            iddocvendedor.value = documento;
            idcorreovendedor.value = correo;
            idventasdespachadas.value = ventasdesp;
        }

        function eliminarVendedor(id){
            var form = eliminarV;
            form.setAttribute('action', `/api/listarvendedores${id}`);
        }

    </script>

</body>

</html>